/************************* some useful classes ***********************************/

.btn-round {
    border-radius: 100px;
}

.btn-edit:hover {
    color: #fff;
    background-color:#5cb85c;
}

.btn-delete:hover {
    color: #fff;
    background-color:#d9534f;
}

.btn-right-margin {
    margin: 0px 5px;
}

.transparent-button {
    position: relative;
    background-color: transparent;
    border: transparent;
    z-index: 20;    
}

.transparent-button:hover {
    background-color: transparent;
}

.icon-button {
    position: relative;
    z-index: 1;
    top:3px;
    margin-left: -20px;
}

.centered-title {
    display: block;
    float: none;
    color: #f2f4f8;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    height: auto;
    line-height: 50px;
    padding: 0 15px;

}

.text-center {
    text-align: center;
    padding: 10px;
}

hr{
    display:block;
    margin:1em 0;
    padding:0;height:1px;
    border:0;
    border-top:1px solid #e3e6f3;
}

.badge {
    background-color: #1aae88;
}

/******************************* avatar images *************************************/

img{
    max-width:100%;
    height:auto
}

.img-rounded{
    border-radius:2px;
}

.img-circle{
    border-radius:50%;
}

.avatar{
    position:relative;
    display:inline-block;
    width:100%
}

.user-avatar {
    width: 40px;
    margin: 5px 5px 0 0;
}

.user-avatar-sm {
    width: 30px;
    margin-right: 10px;
}

/******************************* special forms *************************************/

.transparent-form {
    background-color: transparent;
    border: transparent;
    border-radius: 3px;
}

.transparent-form:focus {
    border: 1px solid #bdc3c7;
}

.inner-addon { 
    position: relative; 
}

.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

/************************* dashboard login page ***********************************/

.login-container {
    margin-top: 80px;
    margin-bottom: 70px;
}

.login-box {
    width: 360px;
}

.login-box form button {
    margin-top: 30px;
}

/************************* dashboard quick links ***********************************/

.quick-link {
    color: #2c3e50;
    background-color: #fff;
    min-height: 50px;
    border-radius: 3px;
    text-align: center;
    padding: 0px;
    margin-bottom: 20px;
}

.quick-link .quick-link-icon {
    color: #fff;
    background-color: #2c3e50;
    height: 100%;
    min-width: 50px;
    padding: 10px;
}

a .quick-link h5{
    color: #2c3e50;
    display: inline-block;
    vertical-align: middle;
    line-height: normal; 
    text-decoration: none;
    font-size: 0.8em;
}

/************************ dashboard panel common look and feel ****************************/

.dashboard-name {
    margin: 5px;
    color: #777;
}

.dashboard-title-panel {
    color: #fff;
    background-color: #2c3e50;
    height: 42px;
}

.dashboard-title-panel .pull-right {
    border-left: 1px solid #bdc3c7;
    margin: -10px 0;    
    height: 42px;
}

.btn-panel-right, .btn-panel-right:hover {
    color: #fff;
    background-color: transparent;
    padding: 10px 0px 10px 10px;
    border-radius: 0px;
}

/******************************* dashboard announcements ***********************************/

.announcement-widget {
    background-color: #2c3e50;
}

.announcement-widget a{
    color: #fff;
}

/******************************* dashboard messages & contacts **********************************/

.dashboard-title-panel {
    color: #fff;
    background-color: #2c3e50;
}

.contact-list {
    max-height: 350px;
    overflow-y: scroll;
}
/******************************* dashboard to-do list ***********************************/

input[type="checkbox"] {
    width:20px;
    height:20px;
    background:white;
    border-radius:5px;
    border:1px solid #777;
}

/******************************* dashboard tabs ***********************************/

.dashboard-tabs {
    border-bottom: transparent;
}

.dashboard-tabs>li>a {
    background-color: #fff;
    border: 1px solid #e3e6f3;
    margin-right: 7px;
}

.dashboard-tabs>li.active>a, .dashboard-tabs>li.active>a:hover, .dashboard-tabs>li.active>a:focus{
    color: #fff;
    background-color: #2c3e50;
    border-bottom: 1px solid #2c3e50;
}

/************************* dashboard receipt and transaction ***********************************/

.tab-content .col-xs-12{
    background-color: #fff;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-top-right-radius: 3px;    
}

.receipt, .receipt-filter {
    margin-top: 20px;
    font-size: 13px;
}

.member-receipt {
    text-align: right;
}

.input-group-addon {
    background-color: #fff;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.input-group .form-control {
    border-left: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: 11px;   
}

.own-message{
    text-align: right;
}
