

/***************************************** Global Styles *****************************************/

body {
    margin-top: 100px;
    color: #788288;
    background-color: #2c3e50;
    font-family: 'Open Sans', sans-serif;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#body-wrapper {
    padding-left: 0;
}

#dashboard-title h4{
    padding: 5px 20px;
}

#dashboard-content-wrapper {
    width: 100%;
    padding: 0;
    background-color: #f2f4f8;
    min-height: 700px;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #body-wrapper {
        padding-left: 225px;
    }

    #dashboard-content-wrapper {
        padding: 10px;
    }
}

/***************************************** Top Nav Bar *****************************************/

.dashboard-top-nav {
    background-color: #fff;
    border-color: #fff;
    box-shadow: 0 2px 2px rgba(0,0,0,0.05), 0 1px 0 rgba(0,0,0,0.05);    
}

.navbar-inverse .navbar-toggle {
    background-color: #788288;
    border-color: transparent;
}

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #777;
    opacity: 0.5;
}

.navbar-header a:hover {
    color: #777 !important;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-preview>a {
    padding-top: 5px;
    padding-bottom: 5px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

.alert-label .label {
    position: absolute;
    top: 7px;
    right: 3px;
    display: block;
    background: #ff5b57;
    line-height: 12px;
    font-weight: 300;
    padding: .3em .6em;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

/* buttons */

.top-nav {
    padding-right: 0px;
}

.logout-btn {
    border-left: 1px solid #ecf0f1;
}


/************************** logo and avatar ********************************/
.navbar-brand .logo {
    width: 30px;
    margin-top: -5px;
    margin-right: 5px;
    position: relative;
    display: block;
    border-radius: 500px;
    white-space: nowrap;
    width: 30px;
    display: inline-block;     
}

.nav .avatar {
    width: 50px;
    margin-top: 5px;
    margin-right: 5px;    
    position: relative;
    display: block;
    border-radius: 500px;
    white-space: nowrap;
    width: 54px;
    display: inline-block;    
}

.avatar img, .logo img {
    border-radius: 500px;
    height: auto;
    max-width: 100%;
    vertical-align: middle;    
}

.user-info {
    background-color: #2c3e50;
    padding:15px 10px;
    color: #fff;
}

.user-info small {
    color: #95a5a6;
}

/***************************************** Side Nav Bar *****************************************/

.navbar-nav {
    margin-top: 0px 
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}

@media(max-width:768px) {
    .side-nav>li>ul>li>a {
        display: block;
        padding: 10px 15px 10px 38px;
        text-decoration: none;
        color: #777;
    }
    .side-nav>li>ul>li>a:hover {
        color: #fff;
    }
}


@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #2c3e50;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .navbar-inverse .navbar-nav>li>a {
        color: #fff;
    }

    .side-nav>li>ul>li>a {
        display: block;
        padding: 10px 15px 10px 38px;
        text-decoration: none;
        color: #fff;
    }    

}

.side-nav>li>ul {
    padding: 0;
}

.side-nav li a:hover,
.side-nav li a:focus {
    outline: none;
    background-color: #1aae88 !important;
}

/*.side-nav>li>ul>li>a:hover {
    color: #fff;
    background-color: #1aae88;
}*/


.navbar-inverse .navbar-nav>.active>a {
    background-color: #1aae88;
    color: #fff;
    font-weight: bold;
}

.navbar-collapse>ul>li>a {
    
}

/* Charts */

.chart-panel {
    padding: 10px;
    margin: 0px -15px;
}

.panel-footer {
    background-color: #fff;
}

.br-light {
    border-right: 1px solid #e1e6ef;
}

/* Tables */

.table-title {
    text-align: center;
    background-color: #2c3e50;
    color: #fff;
    padding: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

/************************* sales tab content ***********************************/

.tab-content .col-xs-12{
    background-color: #fff;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-top-right-radius: 3px;    
}

.receipt, .receipt-filter {
    margin-top: 20px;
    font-size: 13px;
}

.member-receipt {
    text-align: right;
}

.input-group-addon {
    background-color: #fff;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.input-group .form-control {
    border-left: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: 11px;   
}