@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body{
    background:#f1f4f9;
    color:#59595a;
    line-height:1.5;
    direction:ltr;
    font-size:13px;
    font-family: 'Open Sans', sans-serif;
}

@media screen and (min-width:768px) {
    html,body {
        height: 100%;
    }
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    line-height: 1.1;
}

a {
    color: #59595a;
    text-decoration: none;
}

a:visited,a:active,a:focus,a:hover {
    text-decoration: none;
    outline: 0;
}

[class^="ti-"].pull-right,[class*=" ti-"].pull-right {
    line-height: inherit;
}

hr {
    display: block;
    margin: 1em 0;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid #e3e6f3;
}

img {
    max-width: 100%;
    height: auto;
}

.avatar {
    position: relative;
    display: inline-block;
    width: 100%;
}

.avatar-lg {
    width: 128px;
}

.avatar-md {
    width: 64px;
}

.avatar-sm {
    width: 32px;
}

.avatar-xs {
    width: 16px;
}

[contenteditable],[contenteditable]:hover,[contenteditable]:active {
    outline: 0;
}

ol {
    list-style-position: outside;
    list-style-type: decimal;
}

ul {
    list-style-position: outside;
    list-style-type: disc;
    line-height: 1.5;
}

ol.list-style-none,ul.list-style-none {
    list-style: none;
    padding: 0;
}

.nav {
    padding: 0;
}

.pageload {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(255,255,255,0.9);
    z-index: 99999;
}

@media print {
    .content-wrap {
        width: 100%;
    }

    .sidebar,.header,.no-print {
        display: none;
    }
}

.header {
    min-height: 50px;
    z-index: 1000;
    border-radius: 0;
    border: 0;
    margin: 0;
}

.header li:hover,.header li a:hover,.header li a:active {
    background: transparent;
}

.header .brand {
    width: 210px;
    float: left;
}

.header .brand .navbar-brand {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 50px;
}

.header .brand .navbar-brand img {
    max-height: 25px;
    margin-right: 5px;
    margin-top: -5px;
}

.header .navbar-nav {
    margin: 0;
}

.header .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    max-height: 50px;
}

.header .navbar-nav>li>a:focus {
    background-color: transparent;
}

.header .header-avatar {
    width: 32px;
    margin-top: -6px;
}

.header>.nav>li>a>.badge {
    position: absolute;
    top: 8px;
    right: 2px;
    width: 16px;
    height: 16px;
    font-size: 11px;
    line-height: 1.5;
    text-align: center;
    padding: 0;
}

        /* fix logout button on the right side of navbar */
        .off-right form {
            margin: 15px;
        }

.header .notifications{position:relative}
.header .notifications .panel{border:0}
.header .notifications .panel-heading{padding:5px 15px;border-top-right-radius:0;border-top-left-radius:0}
.header .notifications ul li a{font-size:13px}
.header .notifications .panel-footer{padding:5px 15px}
.header .notifications .panel-footer>a{font-size:13px}
.header .notifications .m-body{display:block;overflow:hidden}
.header .notifications .time{display:block}
.header .notifications .label{font-size:10px}
.header .notifications a:hover,.header .notifications a:visited,.header .notifications a:active{color:#59595a}

.horizontal-layout .brand {
    width: auto;
    background-color: transparent;
}

@media screen and (min-width:768px) {
    .header {
        position: absolute;
        width: 100%;
        padding: 0 15px;
    }

    .header .brand {
        margin-left: -15px;
    }

    .header .brand .navbar-brand {
        width: 100%;
    }

    .header .header-avatar {
        float: left;
    }

    .header .notifications .dropdown-menu {
        min-width: 350px;
    }

    .app>header .dropdown-menu {
        border-top: 0;
        padding: 0;
        -webkit-box-shadow: 0 2px 5px rgba(88,96,114,0.05);
        box-shadow: 0 2px 5px rgba(88,96,114,0.05);
        -webkit-animation-duration: 300ms;
        animation-duration: 300ms;
    }
}

@media(max-width:767px) {
    .header {
        width: 100%;
    }

    .header.header-fixed {
        position: fixed;
        width: 100%;
        top: 0;
    }

    .header>.brand {
        width: 100%;
        text-align: center;
    }

    .header>.brand .navbar-brand {
        display: inline-block;
        float: none;
        text-align: center;
    }

    .header .notifications {
        margin-right: 10px;
    }

    .header .navbar-nav .open .dropdown-menu {
        position: absolute;
        margin-top: 0;
        background-color: #fff;
        -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
    }

    .header .navbar-collapse {
        width: 100%;
    }

    .header .off-right {
        position: absolute;
        right: 0;
        top: 0;
    }

    .header .off-left {
        position: absolute;
        left: 0;
        top: 0;
    }

    .header .navbar-toggle,.header .brand [data-toggle="offscreen"] {
        z-index: 999;
        padding: 10px 15px;
        margin-top: 8px;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 2px;
    }

    .header .search-container {
        width: 100%;
        max-width: 220px;
    }

    .app>.header>.nav>li {
        float: left;
    }

    .app>.header>.navbar-nav {
        float: left;
    }

    .app>.header>.navbar-right {
        float: right;
    }

    .app>.header .dropdown-menu {
        position: fixed!important;
        top: 100px;
        left: 0;
        right: 0;
        border-radius: 0!important;
    }

    .app>header .dropdown-menu {
        padding: 0;
        border-bottom: 1px solid #e3e6f3!important;
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
        -webkit-animation-duration: 0ms;
        animation-duration: 0ms;
    }
}

.sidebar {
    width: 210px;
}

.sidebar .nav-title {
    font-size: 11px;
    padding: 25px 15px 0;
    letter-spacing: 1px;
}

.sidebar>footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.main-navigation ul>li>a {
    display: block;
    padding: 10px 15px;
    text-align: left;
    width: 100%;
}

.main-navigation ul>li i {
    padding-right: 10px;
    min-width: 25px;
    text-align: center;
    font-size: 11px;
}

.main-navigation .nav>li>a:hover,.main-navigation .nav>li>a:focus,.main-navigation .nav .open>a,.main-navigation .nav .open>a:hover,.main-navigation .nav .open>a:focus {
    border-color: transparent;
    background-color: transparent;
}

.main-navigation {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.touch li:hover,.touch li:focus,.touch a:hover,.touch a:focus {
    background-color: transparent!important;
}

.app .sidebar ul>li {
    position: relative;
    display: block;
}

.app .sidebar ul>li:before,.app .sidebar ul>li:after {
    content: " ";
    display: table;
}

.app .sidebar ul>li:after {
    clear: both;
}

.app .sidebar ul>li a {
    position: relative;
}

.app .sidebar ul>li.open>.dropdown-menu {
    display: block;
}

.app .sidebar ul>li.open>a .toggle-accordion:before {
    content: "\e64b";
}

.app .sidebar ul>li>ul {
    position: relative;
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
    -webkit-transition: background-color 400ms ease;
    transition: background-color 400ms ease;
}

.app .sidebar li ul li a {
    padding: 8px 15px 8px 40px!important;
    font-size: 12px;
}

.app .sidebar li a .toggle-accordion {
    float: right;
    padding: 0;
    font-size: 8px;
    line-height: 20px;
}

.app .sidebar li a .toggle-accordion:before {
    font-family: "themify";
    font-style: normal;
    font-weight: normal;
    content: "\e649";
}

@media screen and (min-width:768px) {
    .app.small-menu .brand {
        width: 70px;
    }

    .app.small-menu .navbar-brand {
        width: 100%;
        text-align: center;
    }

    .app.small-menu .navbar-brand span {
        display: none;
        visibility: hidden;
    }

    .app.small-menu .navbar-brand i {
        margin: 0;
    }

    .slimScrollDiv {
        overflow: visible!important;
    }

    .app.small-menu .sidebar {
        width: 70px;
    }

    .app.small-menu .sidebar .nav-title {
        text-align: center;
    }

    .app.small-menu .sidebar .main-navigation {
        overflow: visible;
    }

    .app.small-menu .sidebar .main-navigation>ul>li.open .sub-menu {
        display: none!important;
    }

    .app.small-menu .sidebar .main-navigation>ul>li {
        position: relative;
        text-align: center;
    }

    .app.small-menu .sidebar .main-navigation>ul>li>a {
        padding: 15px;
    }

    .app.small-menu .sidebar .main-navigation>ul>li>a>span {
        display: none;
        visibility: hidden;
    }

    .app.small-menu .sidebar .main-navigation>ul>li i {
        display: block;
        padding: 0;
        min-width: 100%;
    }

    .app.small-menu .sidebar .main-navigation>ul>li:hover .sub-menu {
        display: block!important;
    }

    .app.small-menu .sidebar .main-navigation .toggle-accordion {
        display: none;
    }

    .app.small-menu .sidebar .main-navigation .sub-menu {
        position: absolute;
        top: 0;
        left: 100%;
        border: 1px solid #e3e6f3;
        border-left: 0;
        background: #fff;
        z-index: 1000;
        display: none;
        padding: 0;
        list-style: none;
        width: auto;
    }

    .app.small-menu .sidebar .main-navigation .sub-menu a {
        margin: 0;
        padding: 3px 20px!important;
        width: 100%;
        font-size: 13px;
        white-space: nowrap;
        color: #59595a;
        text-align: left;
    }

    .app.small-menu .sidebar .main-navigation .sub-menu a:hover {
        background-color: #f1f2f9;
    }
}

@media(max-width:767px) {
    .app aside.offscreen-right .content-wrap {
        position: relative;
        height: 100%;
    }

    .app aside.offscreen-right .wrapper {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .sidebar-300,.sidebar-250,.sidebar-400 {
        width: 100%;
    }
}

.main-content {
    background: #f1f4f9;
}

.main-content .content-wrap .wrapper {
    padding: 15px;
}

.main-content .header .nav>li:active>a,.main-content .header .nav>li.active>a {
    background-color: #f1f4f9;
    color: #59595a;
}

section.main-content>footer,section.main-content>.fffix>footer,aside>footer,aside>.fffix>footer {
    min-height: 50px;
    padding: 0 15px;
}

section.main-content>footer p,section.main-content>.fffix>footer p,aside>footer p,aside>.fffix>footer p {
    display: inline-table;
    margin: 19px 0;
    line-height: 1;
}

.layout .header {
    z-index: 997;
}

@media screen and (min-width:768px) {
    .container,.app {
        position: relative;
        height: 100%;
    }

    section .wrapper,aside .wrapper {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
    }

    section.main-content>footer,section.main-content>.fffix>footer,aside>footer,aside>.fffix>footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .app>.layout {
        height: 100%;
        display: table;
        table-layout: fixed;
        width: 100%;
        overflow: hidden;
    }

    .app>.layout>section,.app>.layout>aside {
        height: 100%;
        position: relative;
        display: table-cell;
        vertical-align: top;
        float: none;
    }

    .app .header-fixed+.layout {
        padding-top: 50px;
    }

    .content-wrap {
        position: relative;
        height: 100%;
    }

    .header+.content-wrap .wrapper {
        top: 50px;
    }

    .slimscroll {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

@media(max-width:767px) {
    .app .layout {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .app .header-fixed+.layout {
        padding-top: 100px;
    }

    .main-content {
        overflow: hidden;
    }

    .main-content .header {
        padding: 0 15px;
    }

    .main-content .header>ul>li {
        display: block;
        float: left;
    }

    .main-content .header.header-fixed+.content-wrap {
        padding-top: 65px;
    }

    .main-content .header.header-fixed+.content-wrap.no-padding {
        padding-top: 50px;
    }
}

.chat-sidebar .user {
    position: relative;
}

.chat-sidebar .user i {
    position: absolute;
    right: 0;
    top: 10px;
}

@media screen and (min-width:768px) {
    .app aside.chat-sidebar {
        width: 300px;
        display: none;
    }

    .app aside.chat-sidebar .wrapper {
        -webkit-animation-duration: 500ms;
        animation-duration: 500ms;
    }

    .app.move-right .chat-sidebar {
        display: table-cell;
    }

    .app.move-right .chat-sidebar .slimScrollDiv,.app.move-right .chat-sidebar .slimscroll {
        height: 100%!important;
    }
}

.cover {
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .95;
    filter: alpha(opacity=95);
    z-index: 0;
}

.boxed {
    margin-right: auto;
    margin-left: auto;
}

@media(min-width:768px) {
    .boxed {
        width: 750px;
    }
}

@media(min-width:992px) {
    .boxed {
        width: 970px;
    }
}

@media(min-width:1200px) {
    .boxed {
        width: 1170px;
    }
}

.app.horizontal-layout>.header .brand {
    background-color: transparent;
}

@media(max-width:767px) {
    .app.horizontal-layout>.header .navbar-collapse .dropdown-menu {
        position: relative!important;
        top: auto;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .app.horizontal-layout .nav li:before,.app.horizontal-layout .nav li:after {
        content: " ";
        display: table;
    }

    .app.horizontal-layout .nav li:after {
        clear: both;
    }
}

.fffix {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
}

@media(max-width:767px) {
    html,body {
        height: 100%;
    }

    .offscreen {
        overflow: hidden;
    }

    .app {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .app.move-right .main-content .fffix,.app.move-left .main-content .fffix {
        position: static;
    }

    .app.move-right>.header,.app.move-left>.header {
        z-index: 0;
    }

    .layout,.header {
        -webkit-backface-visibility: hidden;
        position: relative;
        width: 100%;
        -webkit-transition: -webkit-transform 300ms ease 0s;
        transition: transform 300ms ease 0s;
    }

    .layout:before,.layout:after {
        content: " ";
        display: table;
    }

    .layout:after {
        clear: both;
    }

    .no-ios .offscreen-left,.no-ios .offscreen-right {
        position: absolute;
    }

    .ios .offscreen-left,.ios .offscreen-right {
        position: fixed;
    }

    .offscreen-left {
        -webkit-backface-visibility: hidden;
        width: 280px;
        height: 100%;
        overflow: auto;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        -webkit-overflow-scrolling: touch;
        -webkit-transform: translate(-100%,0);
        -ms-transform: translate(-100%,0);
        transform: translate(-100%,0);
        -webkit-transform: translate3d(-100%,0,0);
        -ms-transform: translate(-100%,0,0);
        transform: translate3d(-100%,0,0);
        top: 0;
        bottom: 0;
        left: 0;
    }

    .offscreen-left * {
        -webkit-backface-visibility: hidden;
    }

    .sidebar .main-navigation * {
        -webkit-backface-visibility: visible!important;
    }

    .offscreen-right {
        -webkit-backface-visibility: hidden;
        width: 280px;
        height: 100%;
        overflow: auto;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        -webkit-overflow-scrolling: touch;
        -webkit-transform: translate(100%,0);
        -ms-transform: translate(100%,0);
        transform: translate(100%,0);
        -webkit-transform: translate3d(100%,0,0);
        -ms-transform: translate(100%,0,0);
        transform: translate3d(100%,0,0);
        top: 0;
        bottom: 0;
        right: 0;
    }

    .offscreen-right * {
        -webkit-backface-visibility: hidden;
    }

    .ios .offscreen-left,.ios .offscreen-right {
        position: fixed;
    }

    .move-left>.layout,.move-left>.header {
        -webkit-transform: translate(280px,0);
        -ms-transform: translate(280px,0);
        transform: translate(280px,0);
        -webkit-transform: translate3d(280px,0,0);
        -ms-transform: translate(280px,0,0);
        transform: translate3d(280px,0,0);
        -webkit-transition: -webkit-transform 300ms ease;
        transition: transform 300ms ease;
    }

    .move-right>.layout,.move-right>.header {
        -webkit-transform: translate(-280px,0);
        -ms-transform: translate(-280px,0);
        transform: translate(-280px,0);
        -webkit-transform: translate3d(-280px,0,0);
        -ms-transform: translate(-280px,0,0);
        transform: translate3d(-280px,0,0);
        -webkit-transition: -webkit-transform 300ms ease;
        transition: transform 300ms ease;
    }

    .offscreen>.layout {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: visible;
    }

    .move-left .exit-offscreen,.move-right .exit-offscreen {
        -webkit-backface-visibility: hidden;
        cursor: pointer;
        display: block;
        position: absolute;
        background: rgba(255,255,255,0.1);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 9999;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
}

.badge.badge-top {
    position: relative;
    top: -10px;
}

.breadcrumb {
    background-color: #fff;
    border-radius: 2px;
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    content: "\f105\00a0";
    font-family: FontAwesome;
}

.list-group-item {
    border: 1px solid #e3e6f3;
}

a.list-group-item:hover,a.list-group-item:focus {
    background-color: #fcfcfe;
}

.panel {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 2px;
}

.panel-heading {
    border-color: #eeeff8;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.panel-footer {
    border-top: 1px solid #eeeff8;
    background-color: #fcfcfc;
}

.panel-group .panel {
    border-radius: 2px;
}

.panel-default {
    border-color: #dcdff0;
}

.panel-default>.panel-heading {
    color: #59595a;
    background-color: #eaecf6;
    border-color: #dcdff0;
}

.panel-default>.panel-heading+.panel-collapse .panel-body {
    border-top-color: #dcdff0;
}

.panel-default>.panel-heading a {
    color: #59595a;
}

.panel-default>.panel-footer+.panel-collapse .panel-body {
    border-bottom-color: #dcdff0;
}

.heading-controls {
    float: right;
    display: inline-block;
}

.heading-controls a {
    border-radius: 2px;
    padding: 5px;
    font-size: 11px;
}

.form-control:-moz-placeholder {
    color: #a6a6a6;
}

.form-control::-moz-placeholder {
    color: #a6a6a6;
}

.form-control:-ms-input-placeholder {
    color: #a6a6a6;
}

.form-control::-webkit-input-placeholder {
    color: #a6a6a6;
}

.form-control {
    border: 1px solid #e3e6f3;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: 400;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
}

.form-control:focus,#focusedInput {
    outline: 0;
    border-color: #eaecf6;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input[type="file"] {
    line-height: 1;
}

label {
    font-weight: 600;
}

.input-group-addon {
    background-color: #eaecf6;
    border: 1px solid #e3e6f3;
    border-radius: 2px;
}

.dropdown-menu {
    border-radius: 2px;
    border: 1px solid #dcdff0;
    z-index: 9999;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dropdown-menu>li>a {
    font-size: 13px;
    color: #59595a;
}

.dropdown-menu>li>a:hover {
    background: #dcdff0;
}

.dropdown-menu .divider {
    margin: 2px 0;
    height: 1px;
    background-color: #cacfe8;
}

.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus {
    background-color: #dcdff0;
    color: #59595a;
}

.dropdown.open .dropdown-menu {
    display: block;
}

@media(max-width:767px) {
    .collapse-open {
        display: block;
    }

    .dropdown-menu.dropdown-menu {
        top: 100%;
        left: 0;
    }
}

.no-m{margin:0!important}

.no-b{border:0}td.no-b{border-top:0!important}