**/nbproject/private/
**/build/
**/nbbuild/
**/dist/
**/nbdist/
**/nbactions.xml
**/nb-configuration.xml

# Class Files #
**/*.class

# Package Files #
**/*.jar
**/*.war
**/*.ear

/IslandFurniture/IslandFurniture-erp-war/nbproject/private/
/IslandFurniture/IslandFurniture-ejb/nbproject/private/
/IslandFurniture/IslandFurniture-eservices-war/nbproject/private/
/IslandFurniture/IslandFurniture-ejb/build/
/IslandFurniture/IslandFurniture-ejb/dist/
/IslandFurniture/IslandFurniture-erp-war/build/
/IslandFurniture/IslandFurniture-eservices-war/build/
/IslandFurniture/IslandFurniture-erp-war/dist/
/IslandFurniture/IslandFurniture-eservices-war/dist/
/IslandFurniture/IslandFurniture-webservices-war/build/
/IslandFurniture/IslandFurniture-webservices-war/dist/
/IslandFurniture/IslandFurniture-webservices-war/nbproject/private/