/commonInfrastructure/nbproject/private/
/commonInfrastructure/commonInfrastructure-war/nbproject/private/
/commonInfrastructure/commonInfrastructure-ejb/nbproject/private/
/build/
/dist/
/nbproject/private/
/entities-ejb/nbproject/private/
/entity-ejb/nbproject/private/
/SupplyChain-client/nbproject/private/
/SupplyChainClient/nbproject/private/
/SupplyChainInterface/nbproject/private/
/SupplyChainLocalInterface/nbproject/private/
/SupplyChainModule/nbproject/private/
/commonInfrastructure-ejb/nbproject/private/
/entityFW/nbproject/private/
/ITManagement-ejb/nbproject/private/
/InventoryModule/nbproject/private/
/KitchenModule/nbproject/private/
/MRPModule/nbproject/private/
/SalesPlanningModule/nbproject/private/
/CountryOfficeModule/nbproject/private/
/GlobalHQModule/nbproject/private/
/EcommerceModule/nbproject/private/
/StoreSystem/nbproject/private/
/OperationalCRMModule/nbproject/private/
/ManufacturingFacilitySystem/nbproject/private/
/CountryOfficeSystem/nbproject/private/
/GlobalHQSystem/nbproject/private/