@import url(//fonts.googleapis.com/css?family=Roboto);
@import url(//fonts.googleapis.com/css?family=Open+Sans);

/************************* some useful classes ***********************************/

.btn-round {
    border-radius: 100px;
}

.btn-theme {
    background-color: #2c3e50;
    border-color: #2c3e50;
}

.transparent-button {
    position: relative;
    height:18px;
    background-color: transparent;
    border: transparent;
    z-index: 20;    
}

.transparent-button:hover {
    background-color: transparent;
}

.icon-button {
    position: relative;
    z-index: 1;
    top:3px;
    margin-left: -20px;
}

.icon-group {
    margin: 0px 5px;
}

.centered-title {
    display: block;
    float: none;
    color: #f2f4f8;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    height: auto;
    line-height: 50px;
    padding: 0 15px;

}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
    padding: 10px;
}

hr{
    display:block;
    margin:1em 0;
    padding:0;height:1px;
    border:0;
    border-top:1px solid #e3e6f3;
}

.scroll-list {
    max-height: 350px;
    overflow-y: scroll;
}

.completed_item {
text-decoration: line-through;
}

/************************* override some styles ***********************************/

body {
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

ul li {
  list-style: none;
}

a:hover {
outline: none;
text-decoration:none;
}

a:focus {
  outline:none;
  outline-offset: 0;
}

a {
  color: #000;
  -webkit-transition: 100ms;
  -moz-transition: 100ms;
    -o-transition: 100ms;
    transition: 100ms;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

.btn:hover, 
.btn:focus{
  outline: none;
  box-shadow: none;
}

.navbar-toggle {
  background-color: transparent;
}

.progress-label {
   float: left;
   margin-right: 1em;  
}

.progress-bar {
  background-color: #2c3e50;
}

.list-body {
  background-color: #F0F0E9;
  padding: 10px 16px;
  border-radius: 4px;
}

.darkblue {
    color: #2c3e50;
}

/******************************* special forms *************************************/

.transparent-form {
    background-color: transparent;
    border: transparent;
    border-radius: 3px;
}

.transparent-form:focus {
    border: 1px solid #bdc3c7;
}

.inner-addon { 
    position: relative; 
}

.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 20px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.select2-container-multi, .select2-choices {
    -webkit-appearance: none;
    background-image: none;
    border-radius: 3px;
    border: 1px solid #e3e6f3;
}

/**************************** COUNTRY SELECTION PAGE *******************************/

#header-countries {
  background-color: #F0F0E9;
}

#header-countries .logo{
  text-align: center;
}

.centered-welcome {
    display: block;
    float: none;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    height: auto;
    line-height: 30px;
    padding: 0 15px;

}

.countries-list > li > a {
  color: #696763;
}

.flag-icon {
  max-width: 24px;
  margin-right: 20px;
}

/************** TOP NAVBAR ******************/

.contactinfo ul li:first-child{
    margin-left: -15px;
}

.contactinfo ul li a{
  font-size: 12px;
  color: #696763;
  font-family: 'Roboto', sans-serif;
}

.contactinfo ul li a:hover{
	background:inherit;
}

.header-middle .container .row {
  border-bottom: 1px solid #F0F0E9;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 20px;
  padding-top: 20px;
}

.header-middle .container .row .col-sm-4{
  padding-left: 0;
}

.header-middle .container .row .col-sm-8 {
	padding-right:0;
}

.btn-group.open .dropdown-toggle {
  background: rgba(0, 0, 0, 0);
  box-shadow: none;
}

.dropdown-menu  li  a:hover, .dropdown-menu  li  a:focus {
  background-color: #2c3e50;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}


.shop-menu ul li {
	display:inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.shop-menu ul li:last-child {
  padding-right: 0;
}


.shop-menu ul li a {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  padding:0;
  padding-right: 0;
  margin-top: 10px;
}


.shop-menu ul li a i{
    margin-right:3px;
}


.shop-menu ul li a:hover {
	color:#1aae88;
    background-color: transparent;
}


.header-bottom {
  padding-bottom: 30px;
  padding-top: 30px;
}

.navbar-collapse.collapse{
  padding-left: 0;
}

.mainmenu ul li{
  padding-right: 20px;
}

.mainmenu ul li:first-child{
  padding-left: 0px;
}

.mainmenu ul li a {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
    padding: 0;
    padding-bottom: 10px;
}

.mainmenu ul li a:hover, .mainmenu ul li a.active,  .shop-menu ul li a.active{
    background:none;
    color:#1aae88;
}

.search_box input {
    background: #F0F0E9;
    border: none;
    border-radius: 3px;
    color: #B2B2B2;
    font-family: 'roboto';
    font-size: 12px;
    font-weight: 300;
    height: 35px;
    outline: medium none;
    padding-left: 10px;
    width: 205px;
    background-image: url(../images/home/searchicon.png);
    background-repeat: no-repeat;
    background-position: 180px;
}


/************** NAV MENU ******************/

.navbar-header 
.navbar-toggle .icon-bar {
    background-color: #000;
}


.nav.navbar-nav > li:hover > ul.sub-menu{
  display: block;
}

ul.sub-menu {
	position: absolute;
	top: 30px;
	left: 0;
	background: rgba(44, 62, 80, 0.80);
	list-style: none;
	padding: 0;
	margin: 0;
	width: 220px;
	display: none;
	z-index: 999;
}

.dropdown ul.sub-menu li .active{
  color: #1aae88;
  padding-left: 0;
}


.navbar-nav li ul.sub-menu li{
  padding: 10px 20px 0 ;
}

.navbar-nav li ul.sub-menu li:last-child{
  padding-bottom: 20px;
}

.navbar-nav li ul.sub-menu li a{
  color: #fff;
}

.navbar-nav li ul.sub-menu li a:hover{
    color: #1aae88;
}

.fa-angle-down{
  padding-left: 5px; 
}

/************** BREADCRUMBS ******************/

.breadcrumb a {
    color: #2c3e50;
}

.breadcrumb a:hover {
    color: #269abc;
}

/************** CUSTOMER ACCOUNT ******************/

#particularsForm {
    margin-bottom: 100px;
}

/************** FOOTER ******************/

#footer {
  background: #F0F0E9;
}

.footer-content {
  margin-bottom: 68px;
}

.footer-content .container {
  border-top: 1px solid #FFFFFF;
  padding-top: 15px;
}

.footer-single h2 {
  color: #666663;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 22px;
  text-transform: uppercase;
}

.footer-single h2 i{
	margin-right:15px;
}

.footer-single ul li a{
	color: #8C8C88;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
	padding: 5px 0;
}

.footer-single ul li a i {
  margin-right: 18px;
}

.footer-single ul li a:hover{
	background:none;
	color:#2c3e50;
}


.searchform input {
  border: 1px solid #DDDDDD;
  color: #CCCCC6;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-top: 0;
  outline: medium none;
  padding: 7px;
  width: 212px;
}


.searchform button {
  background: #2c3e50;
  border: medium none;
  border-radius: 0;
  margin-left: -5px;
  margin-top: -3px;
  padding: 7px 17px;
}

.searchform button i {
  color: #FFFFFF;
  font-size: 20px;
}

.searchform  button:hover, 
.searchform  button:focus{
	background-color:#2c3e50;
}

.searchform p {
  color: #8C8C88;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin-top: 25px;
}

.footer-bottom {
  background: #D6D6D0;
  padding-top: 10px;
}

.footer-bottom p {
  color: #363432;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-left: 15px;
}

.footer-bottom p span a {
  color: #2c3e50;
  font-style: italic;
  text-decoration: underline;
}


/************** HOME PAGE ******************/


#slider {
  padding-bottom: 45px;
}

.carousel-indicators li {
  background: #C4C4BE;
}

.carousel-indicators li.active {
	  background: #2c3e50;
}

.item {
  padding-left: 100px;
}


.pricing {
  position: absolute;
  right: 40%;
  top: 52%;
}

.slider-image {
  margin-left: 0;
}

.item h1 {
  color: #B4B1AB;
  font-size: 48px;
  margin-top: 115px;
}

.item h1 span {
	color:#2c3e50;
}

.item h2 {
  color: #363432;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 22px;
  margin-top: 10px;
}

.item  p {
	color:#363432;
	font-size:16px;
	font-weight:300;
	font-family: 'Roboto', sans-serif;
}

.get {
  background: #2c3e50;
  border: 0 none;
  border-radius: 0;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-top: 23px;
}

.item button:hover {
  background: #2c3e50;
}

.control-carousel {
  position: absolute;
  top: 50%;
  font-size: 60px;
  color: #C2C2C1;
}

.control-carousel:hover{
  color: #2c3e50 ;
}

.right {
  right: 0;
}

.category-products {
  border: 1px solid #F7F7F0;
  margin-bottom: 35px;
  padding-bottom: 20px;
  padding-top: 15px;
}

.left-sidebar h2, .brands_products h2, .recommended_items h2{
  color: #2c3e50;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0 auto 30px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index:3;
}

.left-sidebar h2:after, h2.title:after, .recommended_items h2:after{
	content: " ";
	position: absolute;
	border: 1px solid #D6D6D0;
	bottom:8px;
	left: 0;
	width: 100%;
	height: 0;
	z-index: -2;
}

h2.title:after {
    bottom: 16px;
}

.left-sidebar h2:before, .recommended_items h2:before{
	content: " ";
	position: absolute;
	background: #fff;
	bottom: -6px;
	width: 130px;
	height: 30px;
	z-index: -1;
	left: 50%;
	margin-left: -65px;
}

h2.title:before{
	content: " ";
	position: absolute;
	background: #fff;
	bottom: -6px;
	width: 220px;
	height: 30px;
	z-index: -1;
	left: 50%;
	margin-left: -110px;
}

.category-products .panel {
	background-color: #FFFFFF;
	border: 0px;
	border-radius: 0px;
	box-shadow:none;
	margin-bottom: 0px;
}

.category-products .panel-default .panel-heading {
  background-color: #FFFFFF;
  border: 0 none;
  color: #FFFFFF;
  padding: 5px 20px;
}

.category-products .panel-default .panel-heading .panel-title a {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 0 none;
}

.category-products .badge {
  background:none;
  border-radius: 10px;
  color: #696763;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  min-width: 10px;
  padding: 3px 7px;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

.panel-body ul{
  padding-left: 20px;
}


.panel-body ul li a {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.brands-name {
  border: 1px solid #F7F7F0;
  padding-bottom: 20px;
  padding-top: 15px;
}


.brands-name .nav-stacked li a {
  background-color: #FFFFFF;
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 5px 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.brands-name .nav-stacked li a:hover{
  background-color: #fff;
  color: #2c3e50;
}

.shipping {
  background-color: #F2F2F2;
  margin-top: 40px;
  overflow: hidden;
  padding-top: 20px;
  position: relative;
}

.well {
  background-color: #FFFFFF;
  border: 1px solid #F7F7F0;
  border-radius: 4px;
  box-shadow: none;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 35px;
}

.padding-right {
  padding-right: 0;
}

.features_items{
	overflow:hidden;
}


h2.title {
  color: #2c3e50;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0 15px;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.product-image-wrapper{
    overflow: hidden;
    margin-bottom:30px;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);  
}

.single-products {
  position: relative;
}

.new, .sale {
  position: absolute;
  top: 0;
  right: 0;
}

.productinfo h2{
    color: #2c3e50;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
}
.product-overlay h2{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
}


.productinfo p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #696763;
}

.productinfo img{
    width:100%;
    height: 230px;
}

.productinfo{
    position:relative;
    min-height:355px;
}

.add-to-cart {
  background:#F5F5ED;
  border: 0 none;
  border-radius: 50px;
  color: #696763;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 25px;
}

.add-to-cart:hover {
  background: #2c3e50;
  color: #FFFFFF;
}

.add-to{
  margin-bottom: 10px;
}

.add-to-cart i{
	margin-right:5px;
}

.add-to-cart:hover {
  background: #2c3e50;
  color: #FFFFFF;
}

.choose {
  border-top: 1px solid #F7F7F0;
}

.choose ul li a {
  color: #B3AFA8;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  padding-left: 0;
  padding-right: 0;
}

.choose ul li a i{
	margin-right:5px;
}

.choose ul li a:hover{
	background:none;
	color:#2c3e50;
}

.category-tab {
  overflow: hidden;
}

.category-tab ul {
  background: #40403E;
  border-bottom: 1px solid #2c3e50;
  list-style: none outside none;
  margin: 0 0 30px;
  padding: 0;
  width: 100%;
}

.category-tab ul li a {
  border: 0 none;
  border-radius: 0;
  color: #B3AFA8;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.category-tab ul  li  a:hover{
	background:#2c3e50;
	color:#fff;
}

.nav-tabs  li.active  a, .nav-tabs  li.active  a:hover, .nav-tabs  li.active  a:focus {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border: 1px solid #ddd;
  color: #000;
  cursor: default;
  margin-right:0;
  margin-left:0;
}

.nav-tabs li a {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px 4px 0 0;
  line-height: 1.42857;
  margin-right:0;
  color: #696763;
}

/**************************** PRODUCT DETAILS **************************************/

.product-details{
  overflow:hidden;
}

.product-details {
  overflow: hidden;
  margin-top: 10px;
}

.view-product {
  position: relative;
}

.view-product img {
  border: 1px solid #F7F7F0;
  height: 380px;
  width: 100%;
}

.view-product h3 {
  background: #FE980F;
  bottom: 0;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0;
  padding: 8px 20px;
  position: absolute;
  right: 0;
}

.product-information {
  overflow: hidden;
  padding-bottom: 10px;
  padding-left: 60px;
  padding-top: 10px;
  position: relative;
}

.product-information h2 {
  color: #363432;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-top: 0;
}

.product-information p {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 5px;
}

.product-information span {
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 5px;
}

.product-information span span {
  color: #FE980F;
  float: left;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-right: 20px;
  margin-top: 0px;
}

.product-information span input {
  border: 1px solid #DEDEDC;
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: 33px;
  outline: medium none;
  text-align: center;
  width: 50px;
}

.product-information span label {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-right: 5px;
}

.cart {
  background-color: #2ecc71;
  border: 0 none;
  border-radius: 50px;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
}

.tab-content .col-xs-12{
    background-color: #fff;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;    
}

/**************************** ADD TO LIST AND POPOVER ************************************/

.radiolist input {
    margin: 6px;
}

#newList {
    margin: 1px;
    display: inline;
    width: 82%;
    height: 30px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.feedback-form {
  margin-top: 20px;
}

/**************************** RECOMMENDED ITEMS ************************************/

.product-options a{
    color: #2c3e50;
    padding-right: 10px;
}

/**************************** RECOMMENDED ITEMS ************************************/

.recommended_items {
  overflow: hidden;
}

#recommended-item-carousel .carousel-inner .item {
  padding-left: 0;
  padding: 20px;
}

.recommended-item-control {
  position: absolute;
  top: 41%;
}

.recommended-item-control i {
  background: none;
  color: #2c3e50;
  font-size: 26px;
  padding: 4px 10px;
}

.recommended-item-control i:hover {
  background: #ccccc6;
}

/********************************* SHOPPING LIST ***********************************/

.shopping-list thead {
    color: #fff;
    background-color: #2c3e50;
}

.shopping-list td a{
    color: #269abc;
}

.shopping-list td a:hover{
    color: #2c3e50;
}

/************** SHOPPING LIST DETAIL **************/

#shoppinglist .list_info {
    border: 1px solid #E6E4DF;
    margin-bottom: 10px
}


#shoppinglist .list_info .list_menu {
    background: #2c3e50;
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

#shoppinglist .list_info .table.table-condensed thead tr {
    height: 40px;
}


#shoppinglist .list_info .table.table-condensed tr {
    border-bottom: 1px solid #F7F7F0;
}

#shoppinglist .list_info .table.table-condensed tr:last-child {
    border-bottom: 0
}

.list_info table tr td {
    border-top: 0 none;
    vertical-align: inherit;
}


#shoppinglist .list_info .image {
    padding-left: 30px;
}


#shoppinglist .list_info .list_description h4 {
    margin-bottom: 0
}

#shoppinglist .list_info .list_description h4 a {
    color: #363432;
    font-family: 'Roboto',sans-serif;
    font-weight: normal;

}

#shoppinglist .list_info .list_description p {
    color:#696763
}


#shoppinglist .list_info .list_price p {
    color:#696763;
}


#shoppinglist .list_info .list_total_price {
    color: #2c3e50;
}

.list_product {
    display: block;
    margin: 10px 0px 10px 25px;
}

.list_product img {
    max-width: 100px;
}

.list_quantity_input {
    color: #696763;
    font-size: 16px;
    text-align: center;
    font-family: 'Roboto',sans-serif;
    max-width: 70px;
}

.sub-total {
    padding: 10px;
    color: #2c3e50;
}

/**************************** STOCK AVAILABILITY COLORS *******************************/

.AvailableTag {
    font-size: 12px;
    color: #fff;
    background-color: #1aae88;
    padding: 5px;
    margin-left: 10px;
}

.Available span {
    color: #1aae88;
    font-weight: bold;
}

.FastTag {
    font-size: 12px;
    color: #fff;    
    background-color: #FE980F;
    padding: 5px;
    margin-left: 10px;    
}

.Fast span {
    color: #FE980F;
    font-weight: bold;
}

.StockTag {
    font-size: 12px;
    color: #fff;    
    font-weight: bold;
    background-color: #d43f3a;
    padding: 5px;
    margin-left: 10px;    
}

.Out span {
    color: #d43f3a;
    font-weight: bold;
}
/* customer chat */
.own-message{
    text-align: right;
}

/**************************** LOGIN AND SIGN UP FORM *******************************/

.login-form {
    padding-top: 20px;
    padding-bottom: 20px;
}

.login-form h3 {
    color: #1aae88;
    padding-bottom: 8px;
    border-bottom: 5px solid #1aae88;
    margin-bottom: 20px;
}



/**************************** MEDIA QUERIES ****************************************/

@media screen and (max-width: 368px){

    .shop-menu {
        margin: 0 auto;
        float: none;
    }   

}
