<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="EntityFWPU" transaction-type="JTA">
    <jta-data-source>jdbc/islandFurniture</jta-data-source>
    <class>IslandFurniture.FW.Entities.Announcement</class>
    <class>IslandFurniture.FW.Entities.BOM</class>
    <class>IslandFurniture.FW.Entities.BOMDetail</class>
    <class>IslandFurniture.FW.Entities.Cart</class>
    <class>IslandFurniture.FW.Entities.CartItem</class>
    <class>IslandFurniture.FW.Entities.Country</class>
    <class>IslandFurniture.FW.Entities.CountryOffice</class>
    <class>IslandFurniture.FW.Entities.Currency</class>
    <class>IslandFurniture.FW.Entities.DailyIngredientSupplyReq</class>
    <class>IslandFurniture.FW.Entities.Dish</class>
    <class>IslandFurniture.FW.Entities.Event</class>
    <class>IslandFurniture.FW.Entities.Feedback</class>
    <class>IslandFurniture.FW.Entities.FurnitureModel</class>
    <class>IslandFurniture.FW.Entities.FurnitureTransaction</class>
    <class>IslandFurniture.FW.Entities.FurnitureTransactionDetail</class>
    <class>IslandFurniture.FW.Entities.GlobalHQ</class>
    <class>IslandFurniture.FW.Entities.GoodsIssuedDocument</class>
    <class>IslandFurniture.FW.Entities.GoodsIssuedDocumentDetail</class>
    <class>IslandFurniture.FW.Entities.GoodsReceiptDocument</class>
    <class>IslandFurniture.FW.Entities.GoodsReceiptDocumentDetail</class>
    <class>IslandFurniture.FW.Entities.Ingredient</class>
    <class>IslandFurniture.FW.Entities.LeadTime</class>
    <class>IslandFurniture.FW.Entities.LogEntry</class>
    <class>IslandFurniture.FW.Entities.ManufacturingFacility</class>
    <class>IslandFurniture.FW.Entities.Material</class>
    <class>IslandFurniture.FW.Entities.MembershipTier</class>
    <class>IslandFurniture.FW.Entities.Menu</class>
    <class>IslandFurniture.FW.Entities.MenuItem</class>
    <class>IslandFurniture.FW.Entities.Message</class>
    <class>IslandFurniture.FW.Entities.MonthlyMenuItemSalesForecast</class>
    <class>IslandFurniture.FW.Entities.MonthlyProcurementPlan</class>
    <class>IslandFurniture.FW.Entities.MonthlyProductionPlan</class>
    <class>IslandFurniture.FW.Entities.MonthlyStockSupplyReq</class>
    <class>IslandFurniture.FW.Entities.Notification</class>
    <class>IslandFurniture.FW.Entities.Plant</class>
    <class>IslandFurniture.FW.Entities.PlantStockInventory</class>
    <class>IslandFurniture.FW.Entities.Preference</class>
    <class>IslandFurniture.FW.Entities.PriceInCountry</class>
    <class>IslandFurniture.FW.Entities.Privilege</class>
    <class>IslandFurniture.FW.Entities.ProcuredStock</class>
    <class>IslandFurniture.FW.Entities.ProcurementContract</class>
    <class>IslandFurniture.FW.Entities.ProcurementContractDetail</class>
    <class>IslandFurniture.FW.Entities.ProductionCapacity</class>
    <class>IslandFurniture.FW.Entities.ProductionOrder</class>
    <class>IslandFurniture.FW.Entities.PromotionCampaign</class>
    <class>IslandFurniture.FW.Entities.PromotionDetail</class>
    <class>IslandFurniture.FW.Entities.PurchaseOrder</class>
    <class>IslandFurniture.FW.Entities.PurchaseOrderDetail</class>
    <class>IslandFurniture.FW.Entities.RestaurantGoodReceiptDocument</class>
    <class>IslandFurniture.FW.Entities.RestaurantGoodsReceiptDocumentDetail</class>
    <class>IslandFurniture.FW.Entities.RestaurantPurchaseOrder</class>
    <class>IslandFurniture.FW.Entities.RestaurantPurchaseOrderDetail</class>
    <class>IslandFurniture.FW.Entities.RestaurantTransaction</class>
    <class>IslandFurniture.FW.Entities.RestaurantTransactionDetail</class>
    <class>IslandFurniture.FW.Entities.RetailItem</class>
    <class>IslandFurniture.FW.Entities.RetailItemTransaction</class>
    <class>IslandFurniture.FW.Entities.RetailItemTransactionDetail</class>
    <class>IslandFurniture.FW.Entities.Role</class>
    <class>IslandFurniture.FW.Entities.Staff</class>
    <class>IslandFurniture.FW.Entities.Stock</class>
    <class>IslandFurniture.FW.Entities.StockSupplied</class>
    <class>IslandFurniture.FW.Entities.StockUnit</class>
    <class>IslandFurniture.FW.Entities.StorageLocation</class>
    <class>IslandFurniture.FW.Entities.Store</class>
    <class>IslandFurniture.FW.Entities.StoreMember</class>
    <class>IslandFurniture.FW.Entities.Supplier</class>
    <class>IslandFurniture.FW.Entities.Thread</class>
    <class>IslandFurniture.FW.Entities.Todo</class>
    <class>IslandFurniture.FW.Entities.Transaction</class>
    <class>IslandFurniture.FW.Entities.WeeklyIngredientSupplyReq</class>
    <class>IslandFurniture.FW.Entities.WeeklyMRPRecord</class>
    <class>IslandFurniture.FW.Entities.WeeklyProductionPlan</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.schema-generation.database.action" value="create"/>
    </properties>
  </persistence-unit>
</persistence>
